<app-nav></app-nav>
<div class="m-4">
  <div class="card">
    <div class="card-header">
      <h2>Add A Review</h2>
    </div>
    <div class="card-body">
      <form #reviewForm="ngForm" (ngSubmit)="btnAddClick()">
        <div class="mb-3">
          <label for="txtRestaurantName">Restaurant Name</label>
          <input id="txtRestaurantName" name="txtRestaurantName" type="text" class="form-control" [(ngModel)]="review.restaurantName" #restaurantName="ngModel">
          <p *ngIf="nameError" class="text-danger">{{nameError}}</p>
        </div>

        <div class="mb-3">
          <label for="txtReviewComments">Review Comments</label>
          <textarea id="txtReviewComments" name="txtReviewComments" class="form-control" [(ngModel)]="review.reviewComments" #reviewComments="ngModel"></textarea>
        </div>

        <div class="mb-3">
          <label for="txtReviewDate">Review Date</label>
          <input id="txtReviewDate" name="txtReviewDate" type="date" class="form-control" [(ngModel)]="review.reviewDate" #reviewDate="ngModel">
          <p *ngIf="dateError" class="text-danger">{{dateError}}</p>
        </div>

        <div class="mb-3">
          <label for="txtRating">Rating</label>
          <input id="txtRating" name="txtRating" type="number" class="form-control" [(ngModel)]="review.rating" #rating="ngModel">
          <p *ngIf="ratingError" class="text-danger">{{ratingError}}</p>
        </div>

        <div class="mb-3">
          <button type="button" id="btnNewPicture" class="btn btn-primary" (click)="btnNewPictureClick()">Take New Picture</button>
          <button type="button" id="btnSelectPicture" class="btn btn-secondary m-1" (click)="btnSelectPictureClick()">Select Picture</button><br>
          <span><img [src]="imgsrc" width="80%" alt="img placeholder"></span>
        </div>

        <div class="mb-3">
          <button type="button" id="btnGetLocation" class="btn btn-primary" (click)="btnGetLocationClick()">Get Location</button>
          <br>
          <label for="txtLat">Latitude</label>
          <input id="txtLat" name="txtLat" type="text" class="form-control" [(ngModel)]="review.lat" #lat="ngModel" readonly>
          <label for="txtLon">Longitude</label>
          <input id="txtLon" name="txtLon" type="text" class="form-control" [(ngModel)]="review.lon" #lon="ngModel" readonly>
          <div class="container" id="mapContainer" style="width: auto; height: 400px"></div>
        </div>

        <button type="submit" id="btnAdd" class="btn btn-primary">Add Review</button>
      </form>
    </div>
    <div class="card-footer">
      Form values: {{ reviewForm.value | json }}
    </div>
  </div>
</div>
