<app-nav></app-nav>
<div class="m-1">
  <div class="card">
    <div class="card-header">
      <h2>Modify A Review</h2>
    </div>
    <div class="card-body">
      <form #reviewForm="ngForm">
        <div class="mb-3">
          <label for="txtRestaurantName">Restaurant Name</label>
          <input id="txtRestaurantName" name="txtRestaurantName" type="text" class="form-control" [(ngModel)]="review.restaurantName" #restaurantName="ngModel" required minlength="3" maxlength="20">
          <div *ngIf="(reviewForm.invalid && isFormSubmitted) || (restaurantName.invalid && (restaurantName.dirty || restaurantName.touched))" class="text-danger">
            <div *ngIf="restaurantName.errors?.['required']">Restaurant name is required.</div>
            <div *ngIf="restaurantName.errors?.['minlength']">Restaurant name must be at least 3 characters long.</div>
            <div *ngIf="restaurantName.errors?.['maxlength']">Restaurant name cannot be more than 20 characters long.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="txtReviewComments">Review Comments</label>
          <textarea id="txtReviewComments" name="txtReviewComments" class="form-control" [(ngModel)]="review.reviewComments" #reviewComments="ngModel"></textarea>
        </div>

        <div class="mb-3">
          <label for="txtReviewDate">Review Date</label>
          <input id="txtReviewDate" name="txtReviewDate" type="date" class="form-control" [(ngModel)]="review.reviewDate" #reviewDate="ngModel" required>
          <div *ngIf="(reviewForm.invalid && isFormSubmitted) || (reviewDate.invalid && (reviewDate.dirty || reviewDate.touched))" class="text-danger">
            <div *ngIf="reviewDate.errors?.['required']">Review date is required.</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="txtRating">Rating (1-10)</label>
          <input id="txtRating" name="txtRating" type="number" class="form-control" [(ngModel)]="review.rating" #rating="ngModel" required min="1" max="10">
          <div *ngIf="(reviewForm.invalid && isFormSubmitted) || (rating.invalid && (rating.dirty || rating.touched))" class="text-danger">
            <div *ngIf="rating.errors?.['required']">Rating is required.</div>
            <div *ngIf="rating.errors?.['min'] || rating.errors?.['max']">Rating must be between 1 and 10.</div>
          </div>
        </div>

        <div class="mb-3">
          <button type="button" id="btnNewPicture" class="btn btn-primary" (click)="btnNewPictureClick()">Take New Picture</button>
          <button type="button" id="btnSelectPicture" class="btn btn-secondary m-1" (click)="btnSelectPictureClick()">Select Picture</button><br>
          @if (review.imgSrc != ''){
            <img [src]="imgsrc" width="80%" alt="img placeholder">
            <input id="txtImgSrc" name="txtImgSrc" [(ngModel)]="review.imgSrc" #imgSrc="ngModel" hidden>
          }
        </div>

        <div class="mb-3">
          <button type="button" id="btnGetLocation" class="btn btn-primary mb-2" (click)="btnGetLocationClick()">Get Location</button>
          <br>
          @if (review.lat != "" && review.lon != ""){
            <label for="txtLat">Latitude</label>
            <input id="txtLat" name="txtLat" type="text" class="form-control" [(ngModel)]="review.lat" #lat="ngModel" readonly>
            <label for="txtLon">Longitude</label>
            <input id="txtLon" name="txtLon" type="text" class="form-control" [(ngModel)]="review.lon" #lon="ngModel" readonly>
            <div class="container" id="mapContainer" style="width: auto; height: 400px"></div>
          }
        </div>

        <button type="submit" id="btnUpdate" class="btn btn-primary" (click)="btnUpdateClick(reviewForm)">Update Review</button>
        <button type="submit" id="btnCancel" class="btn btn-white btn-outline-primary m-1" (click)="btnCancelClick()">Cancel</button>
      </form>
    </div>
    <div class="card-footer">
      <!--Form values: {{ reviewForm.value | json }}-->
    </div>
  </div>
</div>
